body {
    font-family: 'Outfit', sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
}

.navbar {
    font-weight: bolder;
    height: 6vh;
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    padding: 10px 40px;
    justify-content: space-between;
}
 
.navbar img {
    width: 155px;
}
 
.navbar section {
    display: flex;
    justify-content: center;
    gap: 878px;
   
}
 
.navbar section a {
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
 
.navbar section a img {
    width: 20px;
}
 
.navbar div {
    display: flex;
    align-items: center;
    gap: 8px;
}
 
.navbar div img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
 

.container {
    padding: 60px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(43, 255, 0, 0.452);
    max-width: 1000px;
    text-align: left;
    margin: 20px auto;
    margin-top: 100px;  
}

h1 {
    color: #000;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    color: #000;
    font-size: 18px;
    margin-bottom: 5px;
}

.rm-number {
    color: #a0a0a0;
    font-size: 16px;
    margin-bottom: 20px;
}

.details {
    font-size: 14px;
    margin-bottom: 20px;
}

.link-btn {
    text-decoration: none;  
}

.btn-voltar {
    padding: 6px 25px;
    margin-left: 900px;
    margin-top: 200px;
    border: 2px solid #c0c0c0;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-voltar:hover {
    background-color: #f0f0f0;
    color: #000;
}

.card {
    padding: 60px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(43, 255, 0, 0.452);
    max-width: 1000px;
    text-align: left;
    margin: 20px auto;
    margin-top: 100px;  
}
.descricao {
    color: #939393;
}
.descricao1 {
    color: #939393;
}