html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Evita a rolagem */
}

body.custom-background {
    font-family: 'Outfit', sans-serif;
    background-size: cover;
    background-position: top left;
    background: linear-gradient(#000000, #fafafa 420%);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid #808080d8;
    width: 19vw;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #000000;
    background-color: #fafafa;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}

.logo {
    max-width: 250px;
    max-height: 200px;
}

.btn-voltar {
    margin-top: 20px;
    padding: 8px 20px;
    border: 1px solid #c0c0c0;
    border-radius: 11px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.btn-voltar:hover {
    background-color: #f0f0f0;
}
